.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; 
    margin: 0; 
    font-family: "Montserrat", sans-serif;
    background-image: url(/img/fondo.jpeg);
}

.domi {
    display: flex;
    justify-content: center;
    align-items: center;
}

.domi img {
    width: 15%;
}

h1{
    font-size: 40px;
    text-align: center;
    color: #343131;
}

.botones {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 0px; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    color: white;  
    transition: background-color 0.3s; 
    font-size: 20px;
    margin-right: 10px;

}

#authorize-button{
    background-color: #28a745; 
    cursor: pointer;
}

#authorize-button:hover {
    background-color: #53ca6f; 
}

#event-button, #eventFuture-button{
    background-color: #ae1515;  
    cursor: pointer;
} 

#event-button:hover, #eventFuture-button:hover{
    background-color: #e34f4f; 
}

#future-event-form {
    display: none; 
    background-color: #f9f9f9; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 20px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    max-width: 400px; 
    margin: 20px auto; 
}

label {
    display: block; 
    margin-bottom: 10px; 
    font-weight: bold; 
    color: #333; 
    text-align: center;
}

input[type="date"], input[type="time"] {
    width: calc(100% - 12px); 
    padding: 8px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    margin-bottom: 15px; 
    font-size: 16px; 
}

button {
    background-color: #28a745; 
    color: white; 
    padding: 10px 15px;
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 16px; 
}

button:hover {
    background-color: #53ca6f;
}





p{
    font-size: 24px;
    margin: 5px;
    color: #6A6767;

}

#fecha {
    text-decoration: underline;
}

#hora {
    margin: -5px;
}

.status {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

#check-event-button{
    background-color: #ae1515; 
    cursor: pointer;
}

#check-event-button:hover {
    background-color: #e34f4f; 
}

.contenedor2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 70%;
}

.seccion1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 50px;
}

.seccion2 {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    background-color: white;
    border-radius: 35px;
    padding: 10px;
}

.seccion2 img {
    width: 50%;
    height: auto;
}

.Zzz img{
    width: 100%;
    height: auto;
}


.info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-bottom: 10px;
}

.info img{
    width: 8%;
}


a{
    width: auto;
    margin: 0 auto;
}

#actualizar-button{
    background-color: #28a745; 
    cursor: pointer;
    grid-column: 2; /* Mover a la segunda columna */
    grid-row: 2;    /* Mover a la segunda fila */
}

.material-symbols-outlined {
    padding-bottom: 5px;
}

#actualizar-button:hover {
    background-color: #53ca6f; 
}

.material-symbols-outlined {
    font-size: 20px; /* Ajusta el tamaño del icono según sea necesario */
    vertical-align: middle; /* Alineación vertical */

}

#future-event-form {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.titulo-varios{
    text-align: center;
}

#contenedor3 {
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    width: 90%;
    gap: 25px; 
}
  
.evento {
    width: 22rem; 
    height: 30rem;
    text-align: center; 
    background-color: white;
    border-radius: 25px;
}
  
.evento img {
    width: 65%;
    height: auto;
    margin-top: 20px;
}
  
.evento h1{
    color: white;
    background-color: #ae1515;
    margin: 0;
    border-top-left-radius: 25px; 
    border-top-right-radius: 25px; 
    padding: 10px;
}


.evento p {
    margin: 10px;
    font-size: 17px;
}

#regresar-button{
    margin: 20px;
    width: 20%;
    margin-top: 30px;
}
  
.evento-actual h1 {
    background-color: #ae1515;
}

#pageTitle{
    margin: 40px;
}

/* Media Querys */
@media only screen and (max-width: 600px) {
    body {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        height: 80vh; 
        padding: 10px; 
        background-color: #f0f0f0; 
    }

    .contenedor {
        text-align: center; 
        width: 100%; 
        max-width: 400px; 
        padding: 20px; 
    }

    h1 {
        font-size: 20px; 
        text-align: center; 
    }

    .seccion2 h1{
        margin: 0;
    }

    .botones {
        flex-direction: column;
        align-items: center; 
        margin-top: 15px; 
    }

    button {
        width: 100%; 
        padding: 12px; 
        font-size: 18px; 
        margin-bottom: 10px; 
    }

    #future-event-form {
        max-width: 100%;
        padding: 15px;
    }

    label {
        font-size: 14px; 
    }

    input[type="date"],
    input[type="time"] {
        font-size: 14px; 
    }

    .contenedor2 {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        width: 100%; 
    }

    .seccion1, .seccion2 {
        width: 80%; 
        padding: 10px; 
    }

    .seccion2 img {
        width: 70%; 
    }

    .info img{
        width: 8%;
    }

    p{
        font-size: 16px;
    }

    #contenedor3 {
        flex-direction: column; /* Cambiar a disposición vertical */
        gap: 15px; /* Ajustar el espacio entre elementos */
    }

    .evento {
        width: 100%; /* Ajustar el ancho para ocupar todo el contenedor */
        height: auto; /* Permitir que la altura se ajuste automáticamente */
    }

    #regresar-button {
        width: 80%; /* Ajustar el ancho del botón */
    }

}
